//colors
$c-orange-1: #fcb040;
$c-orange-2: #c49a6c;
$c-green: #86b279;
$c-black: #000;
$c-white: #fff;
$c-coal: #333;
$c-coal-light: #727272;
$c-grey-1: #8d8d8d;
$c-grey-2: #d2d2d2;
$c-grey-3: #555;
$c-blue: #00aeef;

$shadow-white: 3px 3px 8px $c-white;

//fonts
$ff-roboto: 'Roboto', sans-serif;

$fs-40: 2.5rem;
$fs-20: 1.25rem;
$fs-16: 1rem;

$fw-800: 800;
$fw-700: 700;
$fw-600: 600;
$fw-500: 500;
$fw-400: 400;

//transition
$transition-time: 0.3s;